@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #ab7aee;
  --color-secondary: #ff5b30;
  --color-gradient-primary-from: #d3b6f7;
  --color-gradient-primary-mid: #ab7aee;
  --color-gradient-primary-to: #7b50ce;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-stapel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

/* Headers  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stapel);
}

.bg-gradient-primary {
  @apply bg-gradient-to-br to-gradient-primary-from from-0% via-gradient-primary-mid via-63% to-gradient-primary-to to-100%;
}
